<!-- CONTACT -->

<div id="contact">

    <div class="row">
      <h2><strong>Contact Me</strong></h2>
      <p class="text mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex aperiam at modi itaque, quis qui. Porro, consequuntur eaque reprehenderit placeat repellat recusandae eos ducimus quo aperiam molestias quae. Vitae, recusandae!</p>
    </div>

    <div class="row justify-content-center">

      <div class="col-lg-6 col-md-12">

        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"><b>Name</b></label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Name">
        </div>

        <div class="mb-3">
          <label for="exampleFormControlInput2" class="form-label"><b>Email address</b></label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>

        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label"><b>Message</b></label>
          <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Enter a message..." rows="3"></textarea>
        </div>

        <div class="row justify-content-center">
          <div class="col-3">
            <button type="submit" class="btn btn-warning"><b>Submit</b></button>  
          </div> 
        </div>

      </div>

    </div>
    
  </div>