<!-- ABOUT -->
      
<div id="about">
    <div class="landing-text">
      <img class="fotoCV" src="./assets/fotoCV.png" alt="foto">
      <h1><strong>Hi! I am Jose Manuel</strong></h1>
      <h3><strong>Engineer & Full Stack Developer Jr.</strong></h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est repudiandae tempore quisquam velit sit veritatis nam totam necessitatibus eaque animi labore consectetur consequatur, natus neque facere sed, ab corporis saepe.</p>
      <a routerLink="/contact" class="btn btn-dark btn-lg mt-2"><b>Contact</b></a>
    </div>
  </div>