<!-- NAVBAR -->

<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink=""><img src="./assets/APLogo.png" width="150px" alt="logo"></a>
      <button class="navbar-toggler ms-auto mx-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div>
        <h6><b>#Yo Programo</b></h6>
      </div>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav ms-auto mx-3">
          <li class="nav-item"><a class="nav-link active" routerLink="">About</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/experience">Experience</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/education">Education</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/projects">Projects</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/contact">Contact</a></li>
        </ul>
      </div>
      <div>
        <button class="btn btn-warning" type="button"><b>LogIn</b></button>   
      </div>
    </div>
  </nav>