<!-- LOGIN -->

<form id="login">

    <div class="container">

        <div class="row">
            <h2><strong>LogIn</strong></h2>
        </div>

        <div class="row justify-content-center">

            <div class="col-lg-6 col-md-12">

                <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"><b>Email address</b></label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="name@example.com">
                <div id="emailHelp" class="form-text"><b>We'll never share your email with anyone else.</b></div>
                </div>

                <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label"><b>Password</b></label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter your password..">
                </div>

                <div class="row justify-content-center">
                    <div class="col-3">
                    <button type="submit" class="btn btn-warning"><b>Submit</b></button>  
                    </div> 
                </div>

            </div>

        </div>

    </div>    

</form>