<!-- EDUCATION -->

<div id="education">
    <div class="row">
      <h2><strong>My Education</strong></h2>
      <p class="text mt-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt distinctio suscipit pariatur eos in quasi debitis nostrum nesciunt, adipisci rem dicta? Officia consectetur omnis a nam, sed quae distinctio quibusdam?</p>
    </div>
    <div class="row row-cols-1 row-cols-md-3 mt-lg-1 g-4">
      <div class="col-lg-4 col-md-12">
        <div class="card h-100">
          <div class="card-body text-center bg-dark text-bg-dark rounded-2">
            <h5 class="card-title bg-light text-bg-light rounded-pill">Titulo 1</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque praesentium, alias non eveniet consectetur nostrum aperiam veritatis quidem at doloribus pariatur maxime sequi, vel harum minus animi quae hic natus?</p>
          </div>
        </div>
      </div>
        
      <div class="col-lg-4 col-md-12">
        <div class="card h-100">
          <div class="card-body text-center bg-dark text-bg-dark rounded-2">
            <h5 class="card-title bg-light text-bg-light rounded-pill">Titulo 2</h5>
            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis quia veniam eos impedit omnis maxime dicta saepe enim porro tenetur eaque maiores, qui, dolor sit, quis quod magnam amet accusantium.</p>
          </div>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-12">
        <div class="card h-100">
          <div class="card-body text-center bg-dark text-bg-dark rounded-2">
            <h5 class="card-title bg-light text-bg-light rounded-pill">Titulo 3</h5>
            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam, provident sed. Sed deserunt molestiae itaque unde consequuntur odio cum corrupti cupiditate eum necessitatibus, esse non ratione facilis tempora magnam numquam.</p>
          </div>
        </div>
      </div>
    </div>
  </div>