<!-- EXPERIENCE -->

<div id="experience">
    <div class="row">
      <h2><strong>My Experience</strong></h2>
      <p class="text mt-lg-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt cum sed fugit molestias dolorem? Laudantium, maiores id sint praesentium ea nulla error, voluptas nisi fugit at eaque dolore fuga inventore.</p>
    </div>
    <div class="row row-cols-1 row-cols-md-3 mt-lg-1 g-4">
      <div class="col-lg-4 mx-auto col-md-12">
        <div class="card h-100">
          <div class="card-body text-center">
            <h5 class="card-title bg-dark text-bg-dark   rounded-pill">Titulo 1</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque praesentium, alias non eveniet consectetur nostrum aperiam veritatis quidem at doloribus pariatur maxime sequi, vel harum minus animi quae hic natus?</p>
          </div>
        </div>
      </div>
        
      <div class="col-lg-4 mx-auto col-md-12">
        <div class="card h-100">
          <div class="card-body text-center">
            <h5 class="card-title bg-dark text-bg-dark   rounded-pill">Titulo 2</h5>
            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis quia veniam eos impedit omnis maxime dicta saepe enim porro tenetur eaque maiores, qui, dolor sit, quis quod magnam amet accusantium.</p>
          </div>
        </div>
      </div>
      
      <div class="col-lg-4 mx-auto col-md-12">
        <div class="card h-100">
          <div class="card-body text-center">
            <h5 class="card-title bg-dark text-bg-dark   rounded-pill">Titulo 3</h5>
            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam, provident sed. Sed deserunt molestiae itaque unde consequuntur odio cum corrupti cupiditate eum necessitatibus, esse non ratione facilis tempora magnam numquam.</p>
          </div>
        </div>
      </div>
    </div>
  </div>